<hr color = 'black'>

 <div class="user-details">
  <h1> Awards </h1>
  <p> {{site.user_description}} </p>
</div>

<center>

 많은 학우님들의 참여와 노력에 진심으로 감사드립니다.<br>
 심사결과 우수한 2팀만을 뽑을 수 없어 특별상을 준비하여 3팀을 수상하게 되었습니다.<br>

<br>
<br>
 수상팀을 선정할때에 알고리즘 구현 능력과 더불어 발표전달력 및 발전가능성을 고루 고려하였습니다. <br>
 최우수상의 경우 발표전달력과 발전가능성을, 우수상의 경우 알고리즘의 창의성과 발표전달력을, <br>
 특별상의 경우 문제이해력과 발전가능성을 특히 높게 평가하였습니다.

 <br>
 <br>
 <br>

 <li> 최우수상(팀) : 김현경, 김현진 </li>
 <li> 우수상(개인) : 김채정 </li>
 <li> 특별상(개인) : 김진성 </li>

 <br>
 <br>

</center>










<hr color = 'black' size = '10'>
