
<div class="user-details">
  <h1> Materials </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/material_1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <br>
    <h3> 대회소개 및 사전교육 </h3>
    <ul>
      <li> 11월 12일, PM 4:00 ~ PM 7:00<br>
        장소 : 공동연구소동 311호 </li>
    </ul>
    <p> 어떤 취지에서의 대회인지, 대회 규정, 그리고 대회 끝날 때까지의 일정을 상세히 얘기 드리겠습니다.
        빅데이터 시대를 맞이하여 수학과로서 어떤 일을 할 수 있는지, 어떤 것에 강점이 있는지 확인하세요!   </p>
        <a class="project-link" href="{{ "/assets/poster.pdf" | prepend: site.baseurl }}">포스터</a>
        <a class="project-link" href="{{ "/assets/tutorial.html" | prepend: site.baseurl }}">사전교육</a>

  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/material_2.png" | prepend: site.baseurl }}" />
    <br>
    <br>
    <img alt="mountains" src="{{ "/assets/material_3.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> 문제공개 </h3>
    <ul>
      <li> 11월 12일 </li>
    </ul>
    <p> 아래 대회문제 버튼을 눌러 문제를 확인하세요. </p>
    <a class="project-link" href= "{{ "/assets/대회규칙.html" | prepend: site.baseurl }}">대회규칙</a>
    <a class="project-link" href="#">대회문제</a>

    <h3> 멘토링 </h3>
    <ul>
      <li> 1차 : 11월 13일, PM 4:00 ~ PM 6:00<br>
         장소 : 공동연구기기동 507호 산업수학센터 </li>
      <li> 2차 : 11월 14일, PM 4:00 ~ PM 6:00<br>
         장소 : 공동연구기기동 507호 산업수학센터 </li>
    </ul>
    <p> 문제를 풀며 어려운것들이 있다면 이시간을 이용해 보세요. 산업수학센터에서 따듯한 차를 마시며 힌트를 얻어가실 수 있습니다.
    </p>

  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/material_4.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 발표 및 심사 </h3>
    <ul>
      <li> 11월 15일, PM 4:00 - PM 6:00 <br>
         장소 : 공동연구기기동 507호 산업수학센터</li>
    </ul>
    <p> 코딩을 완벽하게 해냈느냐가 다가 아니죠, 여러분의 발표능력을 뽐내보세요. </p>

  </div>


</div>
