 <div class="user-details">
  <h1> Schedule </h1>
  <br>
  <li> 참가신청은 11월 9일 오후 10시까지 입니다. </li>
  <li> 공식 일정은 11월 12일 ~ 11월 15일 까지입니다. </li>
  <br>
</div>
  <div class="user">
    <div class="tech">
      <img src="{{ "/assets/intro.png" | prepend: site.baseurl }}" />

    </div>
    <div class="tech">
      <img src="{{ "/assets/teach.png" | prepend: site.baseurl }}" />

    </div>
    <div class="tech">
      <img src="{{ "/assets/compet.png" | prepend: site.baseurl }}" />
    </div>
</div>
<hr color = 'black' size = '10'>
